@tailwind base;
@tailwind components;
@tailwind utilities;

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
a {
  text-decoration: none !important;
}

#home div h1 {
  /* -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(206, 75, 206); */
}
#footer_social a {
  padding: 15px 25px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.842);
  background-color: white;
  text-decoration: none;
  z-index: 9;
  position: relative;
  overflow: hidden;
  font-weight: 500;
}
#footer_social a::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  left: 0%;
  bottom: -100%;
  transition: 0.3s all ease;
  border-radius: 50%;
  z-index: -9;
}

#footer_social a:hover::after {
  bottom: 0%;
  border-radius: 0%;
}

#footer_social a:hover {
  color: rgb(255, 255, 255);
  z-index: 999;
}

#projects #eyeicon {
  display: none;
}
#projlist:hover #eyeicon {
  display: block;
  transition: all ease-in-out;
}
